.DS_Store
*.pyc*
*__pycache__*
*old_stuff*
*.zip*
*AutoDL_sample_result_submission*
*sample-cifar-100-train*
*scoring_output*
*tmp*
*checkpoint*
*20news*
*AutoDL_public_data*
*raiseError*
*all_zero_bad_prediction_shape*
*exception_occurred_in_model*
*linear_bad_prediction_shape*
*linear_debug*
*exceeds_execution_time_limit*
*test_output*
